@media (min-width:375px) and (max-width: 480px) {
   .outlined-text {
    font-size: 25px !important;
    margin-left: 55px !important;
   }
   .navbar-nav {
    display: none;
   }
    .lflex {
     flex-direction: column !important;
     gap: 20px !important;
     
    }
    .lflex h2 {
      margin-left: 55px !important;
    }
    .lflex p {
      margin-left: 55px !important;
    }
    .lflex2 h2 {
      margin-left: 55px !important;
    }
    .lflex2 p {
      margin-left: 55px !important;
    }
    .divr {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divr h3 {
        margin-left: 30px !important;
    }
    .dive {
        height: 100% !important;
    }
    .dive p {
        margin-left: 30px !important;
    }
    .hr1 {
        margin-left: 55px!important;
    }
    .imgnav {
        margin-left: 30px !important;
    }
    .hr {
        width: 100% !important;
    }
    .img2 {
        width: 100% !important;
        margin-left: 0px !important;
        height: auto !important;
    }
    .h11 {
        margin-left: 30px !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .divj h1 {
        margin-left: 40px !important;
    }
    .divj {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .yumurta {
        display: flex !important;
        flex-direction: column !important;
    }
    .class3 p {
        margin-left: 30px !important;
    }
    .img {
        margin-left: 25px !important;
    }
    .class p {
        margin-left: 30px !important;
    }
    .img3 {
        margin-left: 25px !important;
    }
    .class2 p {
        margin-left: 30px !important;
    }
    .img4 {
        margin-left: 25px !important;
    }
    .patrick {
        width: 100% !important;
    }
    .yumurta2 {
        display: flex !important;
        flex-direction: column !important;
    }
    .divh {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .gpt {
        margin-left: 5px !important;
    }
    .p5 {
        margin-left: 5px !important;
        width: 350px !important;
    }
    .gpt2 {
        margin-left: 5px !important;
    }

    .p {
        margin-left: 30px !important;
       
    }
    .p2 {
        margin-left: 30px !important;
       
    }
    .p3 {
        margin-left: 30px !important;
       
    }

    .partner_img {
        margin-top: 50px !important;
        width: 370px !important;
        margin-left: -20px !important;
    }
    .divg {
        height: 100% !important;
        padding-bottom: 50px !important;
    }
    .divg h3 {
        margin-left: 30px !important;
    }
    .divg p {
        margin-left: 30px !important;
    }
    .inp {
        flex-direction: column !important;
    }
    .inp label {
        margin-left: 30px !important;
    }

    .input_large {
       margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }

    .img {
        width: 300px !important;
    }

    .inp input {
        margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }
    .inp1 {
        margin-top: 20px !important;
        flex-direction: column !important;
    }
    .inp1 label {
        margin-left: 30px !important;
    }

    .inp1 input {
        margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }
    .btn {
        margin-left: 30px !important;
        margin-top: 20px !important;
        width: 80% !important;
    }
    .divf {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divf h3 {
        margin-left: 30px !important;
    }
    .divf hr {
        margin-left: 30px !important;
        width: 50px !important;
    }
    .yumurta3 {
        display: flex !important;
        flex-direction: column !important;
    }
    .img4 {
        margin-right: 0px !important;
    }
    .divd {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divd p {
        margin-left: 30px !important;
    }
}

@media (min-width:320px) and (max-width: 375px) {
       .outlined-text {
    font-size: 25px !important;
    margin-left: 55px !important;
   }
   .navbar-nav {
    display: none;
   }
    .lflex {
     flex-direction: column !important;
     gap: 20px !important;
     
    }
    .lflex h2 {
      margin-left: 55px !important;
    }
    .lflex p {
      margin-left: 55px !important;
    }
    .lflex2 h2 {
      margin-left: 55px !important;
    }
    .lflex2 p {
      margin-left: 55px !important;
    }
    .divr {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divr h3 {
        margin-left: 30px !important;
    }
    .dive {
        height: 100% !important;
    }
    .dive p {
        margin-left: 30px !important;
    }
    .hr1 {
        margin-left: 55px!important;
    }
    .imgnav {
        margin-left: 30px !important;
    }
    .hr {
        width: 100% !important;
    }
    .img2 {
        width: 100% !important;
        margin-left: 0px !important;
        height: auto !important;
    }
    .h11 {
        margin-left: 30px !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .divj h1 {
        margin-left: 40px !important;
    }
    .divj {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .yumurta {
        display: flex !important;
        flex-direction: column !important;
    }
    .class3 p {
        margin-left: 30px !important;
    }
    .img {
        margin-left: 25px !important;
    }
    .class p {
        margin-left: 30px !important;
    }
    .img3 {
        margin-left: 25px !important;
    }
    .class2 p {
        margin-left: 30px !important;
    }
    .img4 {
        margin-left: 25px !important;
    }
    .patrick {
        width: 100% !important;
    }
    .yumurta2 {
        display: flex !important;
        flex-direction: column !important;
    }
    .divh {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .gpt {
        margin-left: 5px !important;
    }
    .p5 {
        margin-left: 5px !important;
        width: 300px !important;
    }
    .gpt2 {
        margin-left: 5px !important;
    }

    .p {
        margin-left: 30px !important;
       
    }
    .p2 {
        margin-left: 30px !important;
       
    }
    .p3 {
        margin-left: 30px !important;
       
    }

    .partner_img {
        margin-top: 50px !important;
        width: 340px !important;
        margin-left: -20px !important;
    }
    .divg {
        height: 100% !important;
        padding-bottom: 50px !important;
    }
    .divg h3 {
        margin-left: 30px !important;
    }
    .divg p {
        margin-left: 30px !important;
    }
    .inp {
        flex-direction: column !important;
    }
    .inp label {
        margin-left: 30px !important;
    }

    .input_large {
       margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }

    .img {
        width: 270px !important;
    }

    .inp input {
        margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }
    .inp1 {
        margin-top: 20px !important;
        flex-direction: column !important;
    }
    .inp1 label {
        margin-left: 30px !important;
    }

    .inp1 input {
        margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }
    .btn {
        margin-left: 30px !important;
        margin-top: 20px !important;
        width: 80% !important;
    }
    .divf {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divf h3 {
        margin-left: 30px !important;
    }
    .divf hr {
        margin-left: 30px !important;
        width: 50px !important;
    }
    .yumurta3 {
        display: flex !important;
        flex-direction: column !important;
    }
    .img4 {
        margin-right: 0px !important;
    }
    .divd {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divd p {
        margin-left: 30px !important;
    }
}

@media (min-width:481px) and (max-width: 758px) {
       .outlined-text {
    font-size: 30px !important;
    margin-left: 55px !important;
   }

   .p9 {
    font-size: 18px !important;
   }
   .navbar-nav {
    display: none;
   }
    .lflex {
     flex-direction: column !important;
     gap: 20px !important;
     
    }
    .lflex h2 {
      margin-left: 55px !important;
      font-size: 25px !important;
    }
    .lflex p {
      margin-left: 55px !important;
    }
    .lflex2 h2 {
      margin-left: 55px !important;
    }
    .lflex2 p {
      margin-left: 55px !important;
    }
    .divr {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divr h3 {
        margin-left: 30px !important;
    }
    .dive {
        height: 100% !important;
    }
    .dive p {
        margin-left: 30px !important;
    }
    .hr1 {
        margin-left: 55px!important;
    }
    .imgnav {
        margin-left: 30px !important;
    }
    .hr {
        width: 100% !important;
    }
    .img2 {
        width: 100% !important;
        margin-left: 0px !important;
        height: auto !important;
    }
    .p11 {
      font-size: 20px !important;
    }

    .img2 {
        border-radius: 0px !important;
    }

    .p10 {
        font-size: 19px !important;
    }



    .h11 {
        margin-left: 30px !important;
        padding-top: 54px !important;
    }
    .divj h1 {
        margin-left: 40px !important;
    }
    .divj {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .yumurta {
        display: flex !important;
        flex-direction: column !important;
    }
    .class3 p {
        margin-left: 30px !important;
    }
    .img {
        margin-left: 25px !important;
    }
    .class p {
        margin-left: 30px !important;
    }
    .img3 {
        margin-left: 25px !important;
    }
    .class2 p {
        margin-left: 30px !important;
    }
    .img4 {
        margin-left: 25px !important;
    }
    .patrick {
        width: 100% !important;
    }
    .yumurta2 {
        display: flex !important;
        flex-direction: column !important;
    }
    .divh {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .gpt {
        margin-left: 5px !important;
    }
    .p5 {
        margin-left: 5px !important;
        width: 450px !important;
        font-size: 25px;
    }

    .p4 {
        font-size: 20px;
    }

    .gpt {
        width: 70px;
        
    }
    .gpt2 {
        margin-left: 5px !important;
        width: 120px;
    }

    .h3 {
        font-size: 40px !important;
    }

    .label {
        font-size: 20px !important;
    }

    .input_p {
        font-size: 18px !important;
    }

    .footer_p1 {
        font-size: 22px !important;
    }

    .footer_p2 {
        font-size: 22px !important;
    }

    .p6 {
        font-size: 20px !important;
    }

    .p {
        font-size: 25px !important;
        margin-left: 30px !important;
       
    }
    .p2 {
        margin-left: 30px !important;
       font-size: 25px !important;
    }
    .p3 {
        margin-left: 30px !important;
       font-size: 20px !important;
    }

    .partner_img {
        margin-top: 50px !important;
        width: 470px !important;
        margin-left: -20px !important;
    }

    .yumurta3 {
        
        text-align: center !important;
    }
    
    .divg {
        height: 100% !important;
        padding-bottom: 50px !important;
    }
    .divg h3 {
        margin-left: 30px !important;
    }
    .divg p {
        margin-left: 30px !important;
    }
    .inp {
        flex-direction: column !important;
    }
    .inp label {
        margin-left: 30px !important;
    }

    .input_large {
       margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }

    .img {
        width: 400px !important;
    }

    .inp input {
        margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }
    .inp1 {
        margin-top: 20px !important;
        flex-direction: column !important;
    }
    .inp1 label {
        margin-left: 30px !important;
    }

    .inp1 input {
        margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }
    .btn {
        margin-left: 30px !important;
        margin-top: 20px !important;
        width: 80% !important;
    }
    .divf {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divf h3 {
        margin-left: 30px !important;
    }
    .divf hr {
        margin-left: 30px !important;
        width: 50px !important;
    }
    .yumurta3 {
        display: flex !important;
        flex-direction: column !important;
    }
    .img4 {
        margin-right: 0px !important;
    }
    .divd {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divd p {
        margin-left: 30px !important;
    }
}


@media (min-width:759px) and (max-width: 1298px) {
       .outlined-text {
    font-size: 40px !important;
    margin-left: 55px !important;
   }

   .p9 {
    font-size: 18px !important;
   }
   .navbar-nav {
    display: none;
   }
    .lflex {
     flex-direction: column !important;
     gap: 20px !important;
     
    }
    .lflex h2 {
      margin-left: 55px !important;
    }
    .lflex p {
      margin-left: 55px !important;
    }
    .lflex2 h2 {
      margin-left: 55px !important;
    }
    .lflex2 p {
      margin-left: 55px !important;
    }
    .divr {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divr h3 {
        margin-left: 30px !important;
    }
    .dive {
        height: 100% !important;
    }
    .dive p {
        margin-left: 30px !important;
    }
    .hr1 {
        margin-left: 55px!important;
    }
    .imgnav {
        margin-left: 30px !important;
    }
    .hr {
        width: 100% !important;
    }
    .img2 {
        width: 100% !important;
        margin-left: 0px !important;
        height: auto !important;
    }
    .p11 {
      font-size: 20px !important;
    }

    .img2 {
        border-radius: 0px !important;
    }

    .p10 {
        font-size: 19px !important;
    }



    .h11 {
        margin-left: 30px !important;
        padding-top: 130px !important;
    }
    .divj h1 {
        margin-left: 40px !important;
    }
    .divj {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .yumurta {
        display: flex !important;
        flex-direction: column !important;
    }
    .class3 p {
        margin-left: 30px !important;
    }
    .img {
        margin-left: 25px !important;
    }
    .class p {
        margin-left: 30px !important;
    }
    .img3 {
        margin-left: 25px !important;
    }
    .class2 p {
        margin-left: 30px !important;
    }
    .img4 {
        margin-left: 25px !important;
    }
    .patrick {
        width: 100% !important;
    }
    .yumurta2 {
        display: flex !important;
        flex-direction: column !important;
    }
    .divh {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .gpt {
        margin-left: 5px !important;
    }
    .p5 {
        margin-left: 5px !important;
        width: 700px !important;
        font-size: 25px;
    }

    .p4 {
        font-size: 20px;
    }

    .gpt {
        width: 70px;
        
    }
    .gpt2 {
        margin-left: 5px !important;
        width: 120px;
    }

    .h3 {
        font-size: 40px !important;
    }

    .label {
        font-size: 20px !important;
    }

    .input_p {
        font-size: 18px !important;
    }

    .footer_p1 {
        font-size: 22px !important;
    }

    .footer_p2 {
        font-size: 22px !important;
    }

    .p6 {
        font-size: 20px !important;
    }

    .p {
        font-size: 25px !important;
        margin-left: 30px !important;
       
    }
    .p2 {
        margin-left: 30px !important;
       font-size: 25px !important;
    }
    .p3 {
        margin-left: 30px !important;
       font-size: 20px !important;
    }

    .partner_img {
        margin-top: 100px !important;
        margin-left: 0px !important;
        width: 700px !important;
    }

    .yumurta3 {
        
        text-align: center !important;
    }
    
    .divg {
        height: 100% !important;
        padding-bottom: 50px !important;
    }
    .divg h3 {
        margin-left: 30px !important;
    }
    .divg p {
        margin-left: 30px !important;
    }
    .inp {
        flex-direction: column !important;
    }
    .inp label {
        margin-left: 30px !important;
    }

    .input_large {
       margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }

    .img {
        width: 700px !important;
    }

    .inp input {
        margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }
    .inp1 {
        margin-top: 20px !important;
        flex-direction: column !important;
    }
    .inp1 label {
        margin-left: 30px !important;
    }

    .inp1 input {
        margin-left: 30px !important;
        margin-top: 5px !important;
        width: 80% !important;
    }
    .btn {
        margin-left: 30px !important;
        margin-top: 20px !important;
        width: 80% !important;
    }
    .divf {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divf h3 {
        margin-left: 30px !important;
    }
    .divf hr {
        margin-left: 30px !important;
        width: 50px !important;
    }
    .yumurta3 {
        display: flex !important;
        flex-direction: column !important;
    }
    .img4 {
        margin-right: 0px !important;
    }
    .divd {
        height: 100% !important;
        padding-bottom: 20px !important;
    }
    .divd p {
        margin-left: 30px !important;
    }
}



