{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tedspace.ai</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile2.css' %}">
    <link rel="icon" href="{% static 'img/ic.jpg' %}">
</head>
<body>
  
  
        <div class="navimg" style="background: linear-gradient(180deg, rgba(56, 0, 0, 0.71) 0%, #830000a2 100%), url({% static 'img/duotone.png' %}); background-size: cover; opacity: 0.9;; height: 600px;">
   <div>

    <nav style="height: 70px; background-color: rgba(81, 0, 0, 0.574);" class="navbar navbar-expand-lg navbar-light">
      <a href="index.html">
  <img class="imgnav" style="width: 140px; margin-left: 75px; " src="{% static 'img/ChatGPT Image Aug 29, 2025, 01_40_51 PM.png' %}">
  </a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
<div class="navbar-nav">
      <a class="a" href="#haqqımızda" style=" color: white; font-size: 16px; margin-top: 0px; margin-left: 600px; scroll-behavior: smooth !important;">haqqımızda</a>
      <a class="a2" href="#gizlilik siyasəti" style="color: white; font-size: 16px; margin-top: 0px; margin-left: 60px;">gizlilik siyasəti</a>
      <a class="a2" href="#əlaqə" style="color: white; font-size: 16px; margin-top: 0px; margin-left: 60px;">əlaqə</a>
    
</div>
  
</nav>

   </div>

<div class="divl">
    <h1 class="outlined-text" style="color: transparent; -webkit-text-stroke: 1px white;  margin-top: 120px;  margin-left: 100px;">Süni İntellekt "Aİ" dövründə <br>Ağıllı İnsanlara "Aİ" əsaslanan</h1>
    <h1 class="outlined-text" style="color: white; margin-top: 5px; font-weight: bold; margin-left: 100px; font-size: 50px;">İnkişaf Platforması</h1>
    <hr class="hr1" style="border-bottom: 2px solid white; width: 27px; margin-left: 102px; margin-top: 40px;">
      <div class="lflex" style="display: flex;">
        <div>
          <h2 style="font-weight: bold; font-size: 35px; color: white; margin-left: 100px;">5 il+ təcrübə</h2>
          <p class="p9" style="font-size: 10px; margin-top: -5px; color: white; margin-left: 100px;">Korporasiyalar və Startaplar arasında strateji tərəfdaşlıqlar yaratmaq təcrübəsi</p>
      </div>
      <div class="lflex2">
        <h2 style="font-weight: bold; font-size: 35px; color: white; margin-left: 120px;">100+ Layihə</h2>
          <p class="p9" style="font-size: 10px; margin-top: -5px; color: white; margin-left: 120px;">Reallaşdırılmış layihələr</p>
      </div>
      </div>
</div>
</div>
<!-- Navbar End -->

<div class="divr" style="background-color: #e8e4e4; height: 150px;" id="haqqımızda">
      <h3 style="font-weight: 1000; color: rgb(107, 1, 1); margin-left: 80px; padding-top: 30px; font-size: 35px;">Biz kimik?</h3>
      <h3 style="font-weight: 1000; color: white; -webkit-text-stroke: 1px rgb(107, 1, 1); margin-left: 80px; padding-top: -20px; font-size: 35px;">Innovasiya sektoruna ne fayda veririk?</h3>
</div>

<div class="dive" style=" height: 179px;">
    <p class="p10" style="margin-left: 90px; font-size: 14px; color: rgb(107, 1, 1); padding-top: 20px; font-weight: 400;">Tedspace, Tedroid Media Group tərəfindən yaradılmış innovasiya və startap dəstək platformasıdır. Media sahəsindəki uzunmüddətli təcrübəmiz və texnoloji <br>ekosistemdəki əlaqələrimiz əsasında formalaşan Tedspace, gənc startapları, şirkətləri və istedadlı şəxsləri bir araya gətirir. Platforma vasitəsilə mütəmadi <br>meet-up-lar, bootcamp-lar və hackathonlar keçirilərək həm yeni ideyaların doğulmasına, həm də real problemlərin innovativ həllinin tapılmasına şərait <br>yaradılır.</p>
    <p class="p10" style="margin-left: 90px; font-size: 14px; color: rgb(107, 1, 1); padding-top: 0px; font-weight: 400;">Tedspace-in məqsədi yalnız tədbirlər təşkil etmək deyil, dayanıqlı bir icma qurmaqdır. Beləliklə, Tedspace həm ekosistem üçün körpü rolunu oynayır, həm də <br>gələcəkdə regional miqyasda innovasiyanın inkişafına töhfə verməyi hədəfləyir.</p>
    <hr class="hr" style="margin-top: 47px;  border-bottom: 1px solid rgba(107, 1, 1, 0.461); width: 1280px; margin-left: 0px !important;">
</div>

<div class="divi" style="background-color: #e8e4e4; padding-top: 30px;">
  <div class="img2" style="background:  linear-gradient(180deg, #3d0f0fc2 0%, #5c1c1cb6 100%), url({% static 'img/uc21.png' %}); width: 1100px; height: 360px; background-size: cover; border-radius: 30px; padding-bottom: -0px; margin-left: 95px;">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
    <h1 class="" style="color: transparent; -webkit-text-stroke: 1px white; font-size: 35px; padding-top: 30px; margin-left: 10px; font-weight: bold;">İcmamızı <span style="font-weight: bold; color: white !important; -webkit-text-stroke: 0px white;">Ağıllı insanlar</span> üçün <br>yaradırıq</h1>
    <div  style="display: flex;">
      <img style="width: 25px; margin-left: 10px; margin-top: 10px; height: 30px;" src="{% static 'img/ChatGPT Image Sep 1, 2025, 01_17_38 PM.png' %}" alt="">
      <p  class="p11"style="padding-top: 15px; margin-left: 10px; font-size: 13px; color: white; font-weight: 200;">Aylıq görüşlər və meet-up-lar – ekosistemdə tanışlıqlar və yeni <br>əməkdaşlıqlar</p>
    </div>

    <div style="display: flex;">
      <img style="width: 25px; margin-left: 10px; margin-top: -5px; height: 30px;" src="{% static 'img/ChatGPT Image Sep 1, 2025, 01_17_38 PM.png' %}" alt="">
      <p class="p11" style="padding-top: -10px; margin-left: 10px; font-size: 13px; color: white; font-weight: 200;">Hackathon və bootcamp-lar – ideyaların real layihələrə çevrilməsi <br>imkanı</p>
    </div>

    <div  style="display: flex;">
      <img style="width: 25px; margin-left: 10px; margin-top: -5px; height: 30px;" src="{% static 'img/ChatGPT Image Sep 1, 2025, 01_17_38 PM.png' %}" alt="">
      <p class="p11" style="padding-top: px; margin-left: 10px; font-size: 13px; color: white; font-weight: 200;">Mentor dəstəyi və bilik paylaşımı – təcrübəli mütəxəssislərlə <br>birbaşa ünsiyyət</p>
    </div>


		</div>
		<div class="col-md-6">
    <h1 class="h11" style="color: transparent; -webkit-text-stroke: 1px white; font-size: 35px; padding-top: 100px; margin-left: 150px; font-weight: bold;   align-items: flex-end;">Yaranan <br>100-lərlə "startap" <br>hər il <span style="font-weight: bold; color: white !important; -webkit-text-stroke: 0px white;">yox</span> olur <br>yaradırıq</h1>
		</div>
	</div>
</div>
  </div>
</div>













<div class="divj" style="background-color: #e8e4e4; height: 670px;">
  <h1 style="color: white; -webkit-text-stroke: 1px rgb(107, 1, 1); font-size: 37px; font-weight: 800; margin-left: 80px; padding-top: 100px; stroke: none;">Ola bilər! Demirik. <span style="color: rgb(107, 1, 1);">Olacaq! deyirik.</span></h1>
  <div style="display: flex; justify-content: space-between;">
  <div class="container-fluid ">
	<div class="yumurta">
    {% for post in blog %}
		<div class="">
        <img class="img" style="margin-left: 80px;" src="{{ post.image.url}}" alt="">
        <p class="p" style="margin-left: 95px;">{{ post.name }}</p>
        <p style="margin-left: 95px;" class="p2">{{ post.description }}</p>
        <p class="p3" style="margin-left: 95px;">{{post.text}}</p>
		</div>
    {% endfor %}
	</div>
</div>
</div>
</div>


<div class="divh" style="background-color: #520808; height: 700px; ">
  <div class="container-fluid">
	<div class="yumurta2">
		<div class="patrick2">
      <img class="patrick" src="{% static "img/image1.png" %}" alt="">
		</div>
		<div class="patrick3">
      <div class="div9" style="display: flex;">
      <img class="gpt" src="{% static "img/ChatGPT Image Sep 1, 2025, 11_02_03 AM.png" %}" alt="">
      <p class="p4">Tariyel Ağazadə<span style="font-weight: 400 !important;">, İnnovasiya & Sahibkarlıq üzrə Prezident Mükafatçısı, <br>Tedroid Media Group-un həmtəsisçisi</span></p>
    </div>
    <p class="p5">“Bizim üçün startaplarla işləmək sadəcə tədbir təşkil etmək deyil, yeni imkanlar yaratmaqdır. Azərbaycan və regionda yüzlərlə gənc ideya hər il yaranır, amma onların çoxu diqqətsizlik və dəstək çatışmazlığı səbəbindən itib gedir. Tedspace ilə məqsədimiz bu ideyaların itməməsinə, əksinə, real layihələrə və biznes həllərə çevrilməsinə şərait yaratmaqdır.</p>

    <!-- --------------------- -->
     
    <div class="div9" style="display: flex;">
      <img class="gpt" src="{% static "img/ChatGPT Image Sep 1, 2025, 11_02_03 AM.png" %}" alt="">
      <p class="p4">Bəxtiyar Həsənov<span style="font-weight: 400 !important;">, İnnovasiya üzrə mütəxəssis, Tedroid Media Group-un <br>həmtəsisçisi</span></p>
    </div>
    <p class="p5" style="margin-top: 10px !important;">Biz inanırıq ki, güclü bir ekosistem yalnız birlikdə mümkündür. Şirkətlər, universitetlər, startaplar və media bir platformada birləşəndə nəticə həm ölkə, həm də region üçün dayanıqlı inkişaf deməkdir.”</p>
    <img class="gpt2" src="{% static "img/ChatGPT Image Sep 1, 2025, 11_26_39 AM.png" %}" alt="">
		</div>
	</div>
</div>
</div>

<!-- Contact Hissesi -->

<div class="divg" style="background-color: #e8e4e4; height: 900px; " id="əlaqə">
      <h3 class="h3" style="font-weight: bolder; color: rgb(107, 1, 1); margin-left: 110px; padding-top: 70px; font-size: 36px;">Başlamağa hazırsan?</h3>
      <h3 class="h3" style="font-weight: bolder; color: white; -webkit-text-stroke: 1px rgb(107, 1, 1); margin-left: 110px; padding-top: -20px; font-size: 36px;">Bizimlə əlaqə saxla</h3>
      <p class="p6" style="font-size: 14px; font-weight: 400; color: rgb(107, 1, 1); margin-left: 110px; margin-top: 10px;">Formu doldur, komandamız ən qısa zamanda geri dönsün</p>
      <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <!-- Input Hissesi -->
          <div class="inp" style="display: flex;">
            <div style="display: grid;">
            <label class="label" style="font-size: 12px; font-weight: bold; color: rgb(107, 1, 1); margin-left: 110px; margin-top: 25px;" for="name">Ad <span style="color: #fb454c; font-weight: 1000;">*</span></label>
            {{form.name}}
            {{form.name.errors}}
            </div>

            <div style="display: grid;">
            <label class="label" style="font-size: 12px; font-weight: bold; color: rgb(107, 1, 1); margin-left: 60px; margin-top: 25px;" for="soyad">Soyad <span style="color: #fb454c; font-weight: 1000;">*</span></label>
            {{form.surname}}
            {{form.surname.errors}}
            </div>
        </div>

        <!-- ------ -->
         <div class="inp1">

         
          <p class="input_p">adınızı bütöv daxil edin</p>
            <div style="display: grid;">
            <label class="label" style="font-size: 12px; font-weight: bold; color: rgb(107, 1, 1); margin-left: 110px; margin-top: px;" for="elektron poçt">Elektron poçt <span style="color: #fb454c; font-weight: 1000;">*</span></label>
            {{form.email}}
            {{form.email.errors}}
            <p class="input_p">elektron poçtunuzu bütöv daxil edin</p>
            </div>
            
            <div style="display: grid;">
            <label class="label" style="font-size: 12px; font-weight: bold; color: rgb(107, 1, 1); margin-left: 110px; margin-top: px;" for="vəzifə">Vəzifə </label>
            {{form.position}}
            {{form.position.errors}} 
            </div>

            <div style="display: grid;">
            <label class="label" style="font-size: 12px; font-weight: bold; color: rgb(107, 1, 1); margin-left: 110px; margin-top: 10px;" for="şirkətin adı">Şirkətin adı </label>
            {{form.company}}
            {{form.company.errors}}  
            </div>

            <div style="display: grid;">
            <label class="label" style="font-size: 12px; font-weight: bold; color: rgb(107, 1, 1); margin-left: 110px; margin-top: 10px;" for="ölkə">Ölkə </label>
            {{form.country}}
            {{form.country.errors}} 
            </div>

            <!-- ------------ -->
            <div style="display: grid;">
            <label class="label" style="font-size: 12px; font-weight: bold; color: rgb(107, 1, 1); margin-left: 110px; margin-top: 10px;" for="mesaj">Mesaj <span style="color: #fb454c; font-weight: 1000;">*</span></label>
            {{form.message}}
            {{form.message.errors}}
            <p class="input_p">İlk addımı sən at dəvamını biz gətirək</p>
            </div>

            <button class="btn" type="submit">Təsdiqlə</button>
            </div>
      </div>
      </form>
</div>




<div class="divf" style="background-color: #ffffff; height: 670px;">
      <h3 style="font-weight: bolder; color: #6b0101; margin-left: 110px; padding-top: 70px; font-size: 50px;">partnyorlar</h3>
      <hr style="border-bottom: 3px solid #6b0101; width: 27px; margin-left: 110px; margin-top: 40px; border-radius: 20px;">

      <div>
        <div class="container-fluid">
	<div class="yumurta3">
    {% for partner in partners %}
		<div class="">
      <img class="partner_img" style="margin-left: 60px;" width="1200" src="{{ partner.image.url }}" alt="">
		</div>
    {% endfor %}
      </div>
</div>



<!-- Footer -->

<div class="divd" style="height: 220px; background-color: #520808; margin-top: 110px;">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
        <p class="footer_p1" style="color: white; font-weight: bold; font-size: 18px; padding-top: 50px; margin-left: 100px;">tedspace</p>
  <p class="footer_p2" style=" font-weight: 300; font-size: 18px; margin-left: 100px; color: #898989; margin-top: -15px;">Brendin müəllif hüquqları "Tedroid Media Group" a məxsusdur</p>
  <p class="footer_p2" style=" font-weight: 300; font-size: 18px; margin-left: 100px; color: #898989;">© 2025</p>
		</div>
		<div class="col-md-6">
       <p class="footer_p1" style="color: white; font-weight: bold; font-size: 18px; padding-top: 50px; margin-left: 100px;">əlaqə</p>
  <p class="footer_p2" style=" font-weight: 300; font-size: 18px; margin-left: 100px; color: #898989; margin-top: -10px;">tariyel@tedroid.com</p>
  <p class="footer_p2" style=" font-weight: 300; font-size: 18px; margin-left: 100px; color: #898989; margin-top: -15px;">bakhtiyar@tedroid.com</p>
		</div>
	</div>
</div>


</div>

























    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> 
</body>
</html>